
.lineup {
    border: solid green;
    width: 1fr;
    height: 100%;

}

.gameday {
    width: 4fr; 
    height: 100%;
}

.linescore {
    border: solid blue;
    width: 100%; 
    height: 1fr;
}

.horizontal {
    height: 5fr;
}

